
<strong><%= @topic.title %></strong>

<br/>

<%= form_for @comment, url: create_comment_path  do |fc| %>
  <%= fc.text_area :text %>
  <%= fc.submit 'Salvar' %>
<% end %>


<% unless @comments.any?%>
  <p> Nenhum comentário cadastrado </p>
<% end %>

<%= content_tag(:ul) do %>
  <% @comments.each do |comment| %>
    <%= render_tree(@topic, comment) %>
  <% end %>
<% end %>

<%= paginate @comments %>
