
<%= form_for @topic, url: topics_path do |f| %>

  <%= f.text_area :title %>
  <%= f.submit 'Salvar' %>

<% end %>

<% @topics.each_with_index do |topic, idx| %>
  <p> <%= link_to idx, comments_path(topic._id) %> | <%= link_to topic.created_at, comments_path(topic._id) %> | <%= topic.title %></p>
<% end %>

<%= paginate @topics %>
