<!DOCTYPE html>
<html>
<head>
  <title>Forum R7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= link_to '[home]', topics_path %>

  <ul>
    <% flash.each do |k,v| %>
      <li> <%= v %></li>
    <% end %>
  </ul>

  <%= yield %>

</body>
</html>
